.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column; /* Stack the items vertically */
  align-items: flex-start; /* Align them to the left */
  margin-left: 20px; /* Adjust this to control the overall left offset */
  margin-top: 100px; /* Optional: adjust for vertical space from the top */
}

.about {
  margin-top: 150px;
}
h1 {
  font-size: 200px;
  margin: 0; /* Remove default margins */
}

h1:first-child {
  margin-left: 10px; /* Harper more to the left */
  margin-bottom: -20px; /* Decrease space between Harper and Austin */
}

h1:nth-child(2) {
  margin-left: 150px; /* Austin slightly to the right of Harper */
  margin-top: -20px; /* Optional: adjust to bring Austin closer to Harper */
}

.content {
  padding: 20px;
}

.section {
  margin-bottom: 20px;
  text-align: left;
  margin: 0 auto;
  padding: 1rem;
}

p {
  margin: 0.5rem 0;
  font-size: 20px;
}
h3 {
  font-size: 25px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#workblurb,
#projectblurb {
  margin-right: 0; /* Ensure right-alignment */
  max-width: 60%; /* Limit the width */
  font-size: 35px;
}
