/* General Body and Page Setup */
body {
  margin: 0;
  font-family: monospace;
  background-color: #fff9f8;
  scroll-behavior: smooth;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

/* Header Section (Centered Name) */
.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Center on the screen */
  text-align: center;
}

.App-header h1 {
  font-size: 3rem;
  margin: 0;
}

.App-header h3 {
  font-size: 1.5rem;
  margin-top: 10px;
}

/* Content Section */
.content {
  width: 100%;
  padding: 20px;
  background-color: #fff9f8;
  border-top: 1px solid #fff9f8;
}

/* Individual Sections */
.section {
  padding: 40px 20px;
  text-align: center;
}

h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

p,
ul {
  font-size: 1.1rem;
  line-height: 1.6;
}

/* Scrollable Sections */
#about,
#projects {
  background-color: #fff9f8;
}

#about {
  background-color: #fff9f8;
}

#projects {
  background-color: #fff9f8;
}

/* Make sure there's enough space to scroll */
html {
  scroll-padding-top: 80px; /* For smoother scroll when clicking to section */
}
